.blogpost {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.blogpost2 {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

.aboutme {
  text-align: right;
  font-family: sans-serif;
}

.smart {
  font-size: 20px;
  font-weight: bold;
}


body {
   background-color: pink;
 }

.picture {
   max-height: 250px;
}
